
body{
    height: 625px;
    background-image: url(./img/pizza.jpg);

}
h1 {
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
}
ul {
    list-style-type: none;
}
#contenedor {
    background-color: white;
    text-align: center;
    left: 440px;
    width: 400px;
    border: solid black;
    position: absolute;
    top: 90px;
    
    
    
}
.fondo-marron {
    background-color: saddlebrown; 
    height: 70px;
    padding: 27px;
    margin-top: 5px;
    
    flex-wrap: wrap;
    

}
.fondo-naranja {
    background-color: orange;
    height: 70px;
    padding: 27px;
    margin-top: 10px;
    
    flex-wrap: wrap;
    
}
.fondo-marron {
    background-color: saddlebrown;
    height: 70px;
    padding: 27px;
    
    flex-wrap: wrap;
    margin-top: 10px;
   
   
}
.fondo-naranja {
    background-color: orange;
    height: 70px;
    padding: 27px;
    flex-wrap: wrap;
    margin-top: 10px;
    
}



